header {
  min-height: calc(100vh);
  background: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .header-text {
    text-align: center;
    padding: 25px;
    background-color: rgba(66,66,66 ,.4);
    h1 {
      color: #fafafa;
      font-size: 35px;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
    }
  }
}
@media (min-width: 320px) and (max-width: 340px) {
  header {


    .header-text {


      h1 {
        font-size: 28px;
      }
    }
  }
}
@media (min-width: 341px) and (max-width: 376px) {
  header {
    background: url("../images/background.png");
    -webkit-background-position: center;
    -webkit-background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-position: center;
    -moz-background-repeat: no-repeat;
    -moz-background-size: cover;
  }
}
@media (min-width: 428px) and (max-width: 480px) {
  header {


    .header-text {


      h1 {
        font-size: 44px;
      }
    }
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  header {


    .header-text {


      h1 {
        font-size: 48px;
      }
    }
  }

}
@media (min-width: 601px) and (max-width: 767px) {
  header {


    .header-text {


      h1 {
        font-size: 62px;
      }
    }
  }

}
@media (min-width: 768px) and (max-width: 1024px) {
  header {


    .header-text {
      background-color: rgba(66,66,66 ,.3);
      padding: 30px;
      h1 {

        font-size: 74px;
      }
    }
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  header {


    .header-text {
      padding: 35px;
      background-color: rgba(66,66,66 ,.3);
      h1 {

        font-size: 102px;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    background-attachment: fixed !important;
    height: 100vh;
    .header-text {

    }
  }
}
@media (min-width: 1281px) {
  header {

    .header-text {
      padding: 40px;
      h1 {
        font-size: 124px;
      }
    }
  }
}
